@model HouseMatcher.Models.HouseListViewModel
@section Header {
    <title>HouseMathcer</title>
    <meta name="description" content="地圖尋屋、即時資訊讓您快速找到理想的租屋" />
    <meta name="keywords" content="HouseMatcher,租屋媒合">
    <meta name="author" content="陳劭恩">
    <meta property="og:site_name" content="HouseMathcer" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="HouseMathcer" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="地圖尋屋、即時資訊讓您快速找到理想的租屋" />
}
<div class="main-content mx-auto">
    <div class="containter-fluid mt-5">
        <div class="w-100 d-flex flex-column align-items-center mb-4">
            <img src="/matcher-logo-square.png" class="logo-img mb-3" />
            <div class="fs-2 fw-bold">關於我們</div>
        </div>
        <div class="about-page-main-img mb-5"></div>
        <div class="w-100 fw-bold mb-5">
            歡迎來到 House Matcher，我們致力於打造一個便捷、安全且高效的租屋媒合平台，讓房東與租客能夠輕鬆找到合適的租賃對象。
            我們提供即時房源資訊、詳細篩選功能，確保租賃過程更加透明與順暢。
            無論您是尋找理想租屋，還是想出租房屋，House Matcher 都是您的最佳選擇！
        </div>
        <div class="row d-flex justify-content-center mb-5">
            <div class="col-12 col-md-7 mb-3 mb-md-0">
                <div class="homepage-intro-img-box homepage-intro-img-box-map"></div>
            </div>
            <div class="col-12 col-md-5 d-flex flex-column align-items-center align-items-md-end ms-md-auto mt-md-auto">
                <p class="text-black fw-bold fs-1 mb-0">地圖尋屋</p>
                <p class="text-black fw-bold fs-6 mb-0">結合地圖系統</p>
                <p class="text-black fw-bold fs-6 mb-0">快速尋找周邊房屋</p>
            </div>
        </div>
        <div class="row d-flex flex-md-row-reverse justify-content-center mb-5">
            <div class="col-12 col-md-7 mb-3 mb-md-0">
                <div class="homepage-intro-img-box homepage-intro-img-box-message mb-3"></div>
            </div>
            <div class="col-12 col-md-5 d-flex flex-column align-items-center align-items-md-start me-md-auto mt-md-auto">
                <p class="text-black fw-bold fs-1 mb-0">即時訊息</p>
                <p class="text-black fw-bold fs-6 mb-0">即時訊息聯絡</p>
                <p class="text-black fw-bold fs-6 mb-0">預約看屋方便快速</p>
            </div>
        </div>
    </div>
</div>